html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #31241E;
    color: #F4EBD0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #F4EBD0;
}

nav .left a {
    text-decoration: none;
    color: #31241E;
    font-weight: 600;
}

nav .left a:hover {
    color: #A47551;
    font-size: 1.08rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
    color: #31241E;
}

nav ul li a {
    text-decoration: none;
    color: #31241E;
    font-weight: 600;
}

nav ul li a:hover {
    color: #A47551;
    font-size: 1.08rem;
}

.left {
    color: #31241E;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.profile {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.p_intro {
    width: 40%;
    margin: 80px 0;
    margin-left: auto;
}

.p_intro img {
    width: 80%;
    border-radius: 20%;
}

.p_intro h1 {
    font-size: 4rem;
    width: 100%;
}

.p_desc {
    width: 40%;
    margin: auto;
    font-size: 3rem;
}

#element {
    color: #AA9473;
    font-weight: bold;
}

.SP {
    width: 90%;
    display: inline-flex;
    margin: auto;
    background-color: #674830;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
}

.skills {
    width: 40%;
    margin: 80px 0px 0px;
    margin-left: auto;
}

.skills h1 {
    font-size: 2.2rem;
    width: 50%;
}

.skills ul {
    width: 100%;
}

.skills ul li {
    margin: 10px 0;
    font-size: 1.03rem;
    color: #F4EBD0;
    padding: 10px;
    width: 75%;
}

.projects {
    width: 50%;
    margin: 80px 0;
    margin-left: auto;
}

.projects h1 {
    font-size: 2.2rem;
    width: 50%;
}

.projects ul {
    width: 85%;
}

.projects ul li {
    margin: 10px 0;
    font-size: 1.03rem;
    color: #F4EBD0;
    padding: 10px;
    width: 80%;
}

.education {
    width: 90%;
    display: inline-grid;
    margin: auto;
    background-color: #674830;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
}

.edu {
    width: 60%;
    margin: 45px 0px 120px;
    margin-left: inherit;
}

.edu h1 {
    font-size: 2.2rem;
    width: 85%;
}

table {
    width: 90%;
    height: 100%;
    margin-top: 30px;
    margin-left: 10%;
}

table th {
    color: #F4EBD0;
    padding: 5px;
    font-size: 20px;
    text-align: left;
}

.About {
    width: 90%;
    display: flex;
    background-color: #674830;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.about {
    width: 90%;
    padding: 40px;
}


.about h1 {
    font-size: 2.2rem;
    width: 100%;
}

.about p {
    width: 80%;
    margin: 16px 0px 0px;
}

.vertical {
    margin-top: 55px;
    height: 156px;
    width: 2px;
    background-color: #F4EBD0;
}

.connect {
    display: flex;
    color: #31241E;
}

.connect h1 {
    font-size: 1.5rem;
    padding-top: 2px;

}

.links {
    padding: 5px 0px 0px 10px;
}


.connect ul {
    display: flex;
    justify-content: space-around;
    margin-right: 70%;
}

.connect ul li {
    list-style: none;
    margin: 0 1px;
}

.links a svg {
    color: #31241E;
}

.links a svg:hover {
    color: #A47551;
    width: 26px;
    height: 26px;
}

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        background-color: #F4EBD0;
    }


    nav .left a:hover {
        color: #A47551;
        font-size: 0.77rem;
    }


    nav ul li a:hover {
        color: #A47551;
        font-size: 0.77rem;
    }


    .left {
        color: #31241E;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: bold;
        width: 45%;
    }

    nav ul li a {
        text-decoration: none;
        color: #31241E;
        font-weight: 600;
        font-size: 0.7rem;
    }

    .p_intro h1 {
        font-size: 2rem;
        width: 100%;
    }

    .p_desc {
        width: 40%;
        margin: auto;
        font-size: 1.5rem;
    }

    #element {
        color: #AA9473;
        font-weight: bold;
        font-size: 1.25rem;
    }



    .SP {
        width: 94%;
        display: inline-flex;
        margin: auto;
        background-color: #674830;
        border-radius: 50px;
        margin-top: 5%;
        margin-left: 3%;
    }



    .skills {
        width: 40%;
        margin: 50px 23px 30px;
    }


    .skills h1 {
        font-size: 2.05rem;
        width: 50%;
    }


    .projects {
        width: 50%;
        margin: 50px 0px 30px;
    }


    .projects h1 {
        font-size: 2.05rem;
        width: 50%;
    }



    .education {
        width: 94%;
        display: inline-flex;
        margin: auto;
        background-color: #674830;
        border-radius: 50px;
        margin-top: 5%;
        margin-left: 3%;
    }



    .edu {
        width: 100%;
        padding: 40px;
    }



    table {
        width: 100%;
        margin: 16px 0px;
    }



    table td {
        width: 40%;
        font-size: small;
    }


    .About {
        width: 94%;
        display: inline-flex;
        margin: auto;
        background-color: #674830;
        border-radius: 50px;
        margin-top: 5%;
        margin-left: 3%;
        padding: 0px 0px 25px;
        margin-bottom: 10%;
    }


    .about h1 {
        font-size: 2.05rem;
        width: 100%;
    }



    .about p {
        width: 100%;
        margin: 16px 0;
    }



    footer {
        display: grid;
        height: 64px;
        background-color: #F4EBD0;
    }
    
    footer .connect {
        justify-content: center;
    }
    
    .copyright {
        text-align: center;
    }
    
    footer p {
        color: #31241E;
        font-size: 0.8rem;
        font-weight: 600;
    }
}

footer {
    display: grid;
    height: 64px;
    background-color: #F4EBD0;
}

footer .connect {
    justify-content: center;
}

.copyright {
    text-align: center;
}

footer p {
    color: #31241E;
    font-size: 0.8rem;
    font-weight: 600;
}